<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>CineFide</title>
    </head>
    <body>
        <!-- 1 Sección para crear el boton de agregar... llamará a una ventana modal-->
        <section th:fragment="tabsCategorias" id="categorias">
            <div class="row py-4">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="/cartelera/listado">[[#{cartelera.todas}]]</a>
                    </li>
                    <li class="nav-item" th:each="c : ${categorias}">
                        <a class="nav-link" th:href="@{/cartelera/listado/}+${c.idPelicula}">[[${c.titulo}]]</a>
                    </li>
                </ul>
            </div>
        </section>

        <!-- 2 Fragmento para agregar cartelera-->
        <section th:fragment="listadoCartelera" id="pelicula">
            <div class="row row-cols-4">
                <div class="card" th:each="p : ${cartelera}">
                    <figure>
                        <img th:src="${p.imagen}" 
                             class="card-img-top"
                             width="480"
                             height="600"
                             alt="alt"/>
                        
                    </figure>
                    <div class="card-header">
                        <h4>[[${p.titulo}]]</h4>
                    </div>
                </div>
            </div>

        </section>


    </body>
</html>