<!DOCTYPE html>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>CineFide</title>
        <meta charset="UTF-8"/>

    </head>

    <body>
        
        <header th:replace="~{layout/plantilla :: header}"/>
        
        <section th:replace="~{promocion/fragmentos :: botonesAgregar}"/>
        
        <section th:replace="~{promocion/fragmentos :: listadoPromocion}"/>
        
        <section th:replace="~{promocion/fragmentos :: agregarPromocion}"/>
        
        <footer th:replace="~{layout/plantilla :: footer}"/>   
        
    </body>
</html>
